.icon_row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.icon_row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
.icon_row__icon span {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.icon_row__icon i {
  font-size: 30px;
}
.icon_row__icon-invisible {
  opacity: 0;
}
