.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11% 5% 5% 5%;
  margin-bottom: 3%;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 20px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
